<div ng-show="(view.grid.data.length > 0 && view.params.yaxis != null) && (!(view.params.charttype == 'pie' && view.grid.columnDefs.length > 2)) && (!(view.params.charttype == 'radar' && view.grid.columnDefs.length < 4))" style="width: 99%;">
    <div>
        <div class="cv-chart-container">
            <svg style="height: 400px;" />
        </div>
        <div ng-hide="view.getControlsHidden() || view.params.charttype == 'radar'" style="font-size: 8px; float: right;">
            <a href="" class="cv-chart-height" ng-click="chartCtrl.resizeChart(400);">Small</a>
            <a href="" class="cv-chart-height" ng-click="chartCtrl.resizeChart(550);">Medium</a>
            <a href="" class="cv-chart-height" ng-click="chartCtrl.resizeChart(700);">Tall</a>
        </div>
    </div>
</div>

<div ng-if="view.params.yaxis == null" class="alert alert-info" style="margin-bottom: 0px;">
    <p>
      Невозможно отобразить график: <b>значение</b> не выбрано.
    </p>
    <p>
      Подсказка: используйте меню <kbd><i class="fa fa-fw fa-cogs"></i> Вид &gt; <i class="fa fa-fw fa-crosshairs"></i> Значение</kbd>.
    </p>
</div>

<div ng-if="view.pendingRequests == 0 && view.params.yaxis != null && view.grid.data.length == 0" class="alert alert-info" style="margin-bottom: 0px;">
    <p>
      Невозможно отобразить график: <b>нет строк</b>.
    </p>
    <p>
      Подсказка: используйте меню <kbd><i class="fa fa-fw fa-cogs"></i> Вид</kbd> чтобы выбрать горизонтальное измерение.
    </p>
</div>

<div ng-if="view.pendingRequests == 0 && view.params.charttype == 'pie' && view.grid.columnDefs.length > 2" class="alert alert-info" style="margin-bottom: 0px;">
    <p>
      Невозможно отобразить <b>круговую диаграмму</b> когда <b>выбрано более одного</b> столбца.<br />
    </p>
    <p>
      Подсказка: посмотрите данные графика и столбцы в режиме <a href="" ng-click="setViewMode('series')" class="alert-link">ряды</a>,
      или <a href="" ng-click="selectXAxis(null);" class="alert-link">удалите горизонтальное измерение</a>.
    </p>
</div>

<div ng-if="view.pendingRequests == 0 && view.params.yaxis != null && view.params.charttype == 'radar' && view.grid.columnDefs.length < 4" class="alert alert-info" style="margin-bottom: 0px;">
  Невозможно отобразить <b>график "радар"</b> когда <b>менее 3 столбцов</b> выбрано.<br />
  Подсказка: посмотрите данные графика и столбцы в режиме <a href="" ng-click="setViewMode('series')" class="alert-link">ряды</a>.
</div>
