<div ng-controller="CubesViewerViewsCubeSeriesController">

    <!-- ($(view.container).find('.cv-view-viewdata').children().size() == 0)  -->
    <h3><i class="fa fa-fw fa-clock-o"></i> Ряды
        <i ng-show="view.pendingRequests > 0" class="fa fa-circle-o-notch fa-spin fa-fw margin-bottom text-info pull-right"></i>
    </h3>

    <div ng-if="view.pendingRequests > 0" class="loadingbar-content">
        <span class="loadingbar-expand"></span>
    </div>

    <div ng-if="view.grid.data.length > 0"
         ui-grid="view.grid"
         ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-auto-resize
         ui-grid-pagination ui-grid-pinning
         style="width: 100%;" ng-style="{height: ((view.grid.data.length < 15 ? view.grid.data.length : 15) * 24) + 44 + 30 + 'px'}">
    </div>
    <div ng-if="view.grid.data.length > 0" style="height: 30px;">&nbsp;</div>

    <div ng-if="view.pendingRequests == 0 && view.params.yaxis == null" class="alert alert-info" style="margin-bottom: 0px;">
        <p>
          Невозможно отобразить ряд: <b>значение</b> не выбрано.
        </p>
        <p>
          Подсказка: используйте меню <kbd><i class="fa fa-fw fa-cogs"></i> Вид &gt; <i class="fa fa-fw fa-crosshairs"></i> Значение</kbd>.
        </p>
    </div>

    <div ng-if="view.pendingRequests == 0 && view.params.yaxis != null && view.grid.data.length == 0" class="alert alert-info" style="margin-bottom: 0px;">
        <p>
          Невозможно отобразить ряд: <b>недостаточно строк</b>.
        </p>
        <p>
          Подсказка: используйте меню <kbd><i class="fa fa-fw fa-cogs"></i> Вид</kbd> чтобы выбрать горизонтальное изменение.
        </p>
    </div>

</div>
